{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/1.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">XAVIER</div>
            <div class="designation">C.E.O </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/6.JPG" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ALOK</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/7.PNG" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">CRISTIYANO RONALDO</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/8.JPG" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ROSHAN</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/9.JPG" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">KELLY</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/4.PNG" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">FORREST XIAODONG LI</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}